@use '/styles/color';
@import '/styles/color';

.Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .FooterContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 180rem;
        gap: 4rem;

        padding: 5rem 5rem;

        .HomeLink{
            cursor: pointer;
        }

        .FooterLabel {
            font-family: Nyght Serif;
            font-size: 6rem;
            font-style: italic;
            color: $crystalwhite;
            font-weight: 400;
            line-height: 100%;

            span {
                color: #1ad36f;
            }
        }

        .LinkList {
            display: flex;
            flex-direction: row;
            gap: 1rem;

            a {
                text-decoration: none;
                color: $slateblack;

                font-family: Inter;
                font-size: 2.2rem;
                font-style: normal;
                font-weight: 600;
                line-height: 100%; /* 2.8rem */
                letter-spacing: -0.05rem;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: $crystalwhite;
                }
            }
        }

        .Copyright {
            color: $carbonblack;
            font-family: Inter;
            font-size: 1.3rem;
            font-style: normal;
            font-weight: 700;
            line-height: 100%; /* 1.7rem */
            letter-spacing: 0.1rem;
        }
    }
}
