@import url("/fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400;500;600;700;800&family=Urbanist:wght@200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


@font-face {
    font-family: Next Regular;
    src: url(../public/fonts/NyghtSerif-RegularItalic.woff2) format('woff2');
}

@font-face {
    font-family: Next Medium;
    src: url(https://eduburner.vercel.app/fonts/NyghtSerif-MediumItalic.ttf);
}


@font-face {
    font-family: Uncut Regular;
    src: url(https://eduburner.vercel.app/fonts/Webfonts/UncutSans-Regular.woff) format('woff');
}

@font-face {
    font-family: Uncut Medium;
    src: url(https://eduburner.vercel.app/fonts/Webfonts/UncutSans-Medium.woff) format('woff');
}

@font-face {
    font-family: Uncut Bold;
    src: url(https://eduburner.vercel.app/.vercel.app/fonts/Webfonts/UncutSans-Bold.woff) format('woff');
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;

    @media (prefers-color-scheme: light) {
        background-color: #000;
    }
}

::selection {
    background-color: #fff;
    color: #000;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}