$CarbonBlack: #070707;
$CrystalWhite: #e8e5ff;
$SlateCarbon: #121212;
$CarbonDust: #232323;

@mixin Smooth {
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@mixin SubTitle {
    font-family: Burner Font;
    font-size: 3rem;
    letter-spacing: -0.18rem;
    line-height: 110%;
    font-weight: 600;
    text-transform: lowercase;

    // display: none;
}

@mixin SubHeading {
    font-family: Urbanist;
    font-size: 1.7rem;
    // letter-spacing: -0.02rem;
    line-height: 100%;
    font-weight: 700;
}

.SubTitle {
    @include SubTitle;
}

.SubHeading {
    @include SubHeading;
    color: #686868;
}

.Wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 3rem;
    width: 100%;
    gap: 10rem;
    background-color: #fff;

    .Container {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 180rem;
    }

    .Updates {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3rem;
        width: 100%;
        .UpdatesContainer {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .Heading {
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
            }

            .Releases {
                display: flex;
                gap: 0.3rem;
                flex-direction: column;
            }
        }

        .InnerContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.4rem;
            width: 100%;
            .BannerVideo {
                display: flex;
                height: 34rem;
                background-color: #ebe6d2;
                border-radius: 2rem;
                border: 0.4rem solid #f4f0e3;

                overflow: hidden;

                width: 100%;
                position: relative;

                .Overlay {
                    position: absolute;
                    width: 20%;
                    height: 100%;
                    left: 0;
                    z-index: 10;
                    padding: 4rem;

                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    // background: linear-gradient(90deg, #d5ccae 0%, rgba(244, 240, 227, 0) 100%);
                    .BannerTitle{
                        @extend .SubHeading;
                        font-size: 2.6rem;
                        text-transform: lowercase;
                        text-wrap: nowrap;
                        color: #fff;
                    }
                }
                .Video {
                    z-index: 5;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}
